.contactform{
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 10px;
    margin: 100px;
    padding: 50px;
    width: 300px; 
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;  
    transform: scale(1); 
}
.contactform:hover{
    transform: scale(1.05);          
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("images/background_cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 20px;
}
#heading{
    color: #1a1a1a;
}
label{
    color: #2c2c2c;
    font-weight: 600;
    margin-bottom: 15px;
}
input, textarea{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;  
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 6px;
    color: black;
    font-size: 15px;
}
input:hover, textarea:hover {
    border-color: #71d8a6;
    transition: 0.2s;
}
#submit{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}
#submit:hover{
    background-color: #45a049;
}
#clear{
    background-color: #999999;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}
#clear:hover{
    background-color: #888888;

}
button{
    font-family: 'Poppins', sans-serif;
}
button:hover {
    transform: scale(1.03);
    transition: 0.2s ease;
}
.flash {
    padding: 12px 16px;
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.flash.success {
    background: rgba(76, 175, 80, 0.9); /* Green */
    color: white;
}
.flash.error {
    background: rgba(255, 0, 0, 0.8);  /* Red */
    color: white;
}